<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="login-username">
        <mat-label>username</mat-label>
        <input matInput placeholder="User name">
      </mat-form-field>

      <mat-form-field class="login-password">
        <mat-label>password</mat-label>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/main">Login</button>
  </mat-card-actions>
</mat-card>
